.list-selected.active,.list-selected.active:hover {
    border-color: darkgrey;
}

.list-round:hover {
    cursor: pointer;
}

.list-round {
    text-align: center;
}

label.active {
    font-weight: bold;
}

#row-control1 {
    margin-bottom: 4em;
}

#row-control2 {
    margin-top: 2em;
}

#surface1 {
    background-color: #427df4;
    border-color: #427df4;
}

#surface2 {
    background-color: #42f445;
    border-color: #42f445;
}

#surface3 {
    background-color: #f48342;
    border-color: #f48342;
}

#show-result {
    vertical-align: -webkit-baseline-middle;
    padding-left: 1em;
    padding-right: 1em;
}

#show-selector {
    padding: 1em;
    border: 1px solid darkgray;
    width: 100%;
}

#show-result {
    font-weight: bold;
}

#surface-buttons label {
    width: 23%;
}

#surface-buttons {
    width: 100%;
}

#surface-buttons-container {
    padding: 1em;
}

.paragraphs {
    margin: 1.5em 0;
}